<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis的全局配置文件 -->
<configuration>
    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 配置SQL执行日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启mybatis下划线转驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 配置插件 -->
    <plugins>
        <!--  开启分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!-- 配置mybatis的开发环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 导入mapper.xml映射文件-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
<!--        <mapper resource="mapper/ScoreMapper.xml"/>-->
<!--        <mapper resource="mapper/PaperMapper.xml"/>-->
<!--        <mapper resource="mapper/ClazzMapper.xml"/>-->
    </mappers>
</configuration>