<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis的全局配置文件 -->
<configuration>
    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 配置SQL执行日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启mybatis下划线转驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--   关闭二级缓存     -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 设置一级缓存的作用范围是一条sql语句执行期间，执行完毕清空一级缓存-->
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>

    <!-- 配置插件 -->
    <plugins>
        <!--  开启分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!-- 配置mybatis的开发环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 导入mapper.xml映射文件-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/ClazzMapper.xml"/>
        <mapper resource="mapper/DepartmentMapper.xml"/>
        <mapper resource="mapper/QuestionMapper.xml"/>
        <mapper resource="mapper/QuestionOptionMapper.xml"/>
        <mapper resource="mapper/PaperInfoMapper.xml"/>
        <mapper resource="mapper/PaperQuestionMapper.xml"/>
        <mapper resource="mapper/ExamInfoMapper.xml"/>
        <mapper resource="mapper/ExamParticipantsMapper.xml"/>
    </mappers>
</configuration>