<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmut.examsys.mapper.ExamRecordMapper">

    <resultMap id="BaseResultMap" type="edu.xmut.examsys.bean.ExamRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="examId" column="exam_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="tryCount" column="try_count" jdbcType="INTEGER"/>
            <result property="passed" column="passed" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="finalGrade" column="final_grade" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="insert">
        insert into exam_record (id, exam_id, user_id, try_count, passed, start_time, end_time, final_grade)
        values (#{id}, #{examId}, #{userId}, #{tryCount}, #{passed}, #{startTime}, #{endTime}, #{finalGrade})
    </insert>
    <select id="selectByExamIdAndUserId" resultType="edu.xmut.examsys.bean.ExamRecord">
            select *
            from exam_record
            where user_id = #{userId}
              and exam_id = #{examId}
        </select>


</mapper>
