<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmut.examsys.mapper.ExamInfoMapper">

    <resultMap id="BaseResultMap" type="edu.xmut.examsys.bean.ExamInfo">
        <id property="examId" column="exam_id" jdbcType="BIGINT"/>
        <result property="examDesc" column="exam_desc" jdbcType="VARCHAR"/>
        <result property="examName" column="exam_name" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="BIGINT"/>
        <result property="attention" column="attention" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="totalScore" column="total_score" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        exam_id,exam_desc,exam_name,
        creator_id,attention,start_time,
        end_time,status,total_score,
        create_time,update_time,is_deleted
    </sql>
    <select id="getAll" resultType="edu.xmut.examsys.bean.ExamInfo">
        select *
        from exam_info
    </select>
</mapper>
