<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmut.examsys.mapper.ExamParticipantsMapper">

    <resultMap id="BaseResultMap" type="edu.xmut.examsys.bean.ExamParticipants">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="examId" column="exam_id" jdbcType="INTEGER"/>
        <result property="classId" column="class_id" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertBatch">
        insert into exam_participants(exam_id, class_id)
        VALUES
        <foreach collection="classIds" separator="," open=" (" close=") " item="classId">
            #{examId},#{classId}
        </foreach>
    </insert>
    <select id="selectByClassId" resultType="edu.xmut.examsys.bean.ExamParticipants">
        select *
        from exam_participants
        where class_id = #{clazzId}
    </select>


</mapper>
