<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmut.examsys.mapper.ExamInfoMapper">

    <resultMap id="BaseResultMap" type="edu.xmut.examsys.bean.ExamInfo">
            <id property="examId" column="exam_id" jdbcType="BIGINT"/>
            <id property="paperId" column="paperId" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="attention" column="attention" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="totalTime" column="total_time" jdbcType="INTEGER"/>
            <result property="timeLimit" column="time_limit" jdbcType="TINYINT"/>
            <result property="totalScore" column="total_score" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>


    <insert id="insert">
        insert into exam_info(exam_id, paperId, title, `desc`, attention, creator, `status`, start_time, end_time,
                              total_time, time_limit, total_score, params)
        VALUES (#{examId}, #{paperId}, #{title}, #{desc}, #{attention}, #{creator}, #{status}, #{startTime}, #{endTime},
                #{totalTime}, #{timeLimit}, #{totalScore}, #{params})
    </insert>
    <update id="updateStatus">
        update exam_info
        <set>
            <if test="status !=null">
                `status` = #{status}
            </if>
        </set>
        where exam_id = #{examId}
    </update>
    <update id="update">
        update exam_info
        <set>
            <if test="title !=null">
                title = #{title},
            </if>
            <if test="attention !=null">
                attention = #{attention},
            </if>
            <if test="desc !=null">
                `desc` = #{desc},
            </if>
            <if test="status !=null">
                `status` = #{status},
            </if>
            <if test="timeLimit !=null">
                `time_limit` = #{timeLimit},
            </if>
            <if test="totalScore !=null">
                total_score = #{totalScore},
            </if>
            <if test="totalTime !=null">
                total_time = #{totalTime},
            </if>
            <if test="startTime !=null">
                start_time = #{startTime},
            </if>
            <if test="endTime !=null">
                end_time = #{endTime}
            </if>
        </set>
        where exam_id = #{examId}
    </update>
    <delete id="deleteById">
        update exam_info
        set is_deleted = 1
        where exam_id = #{id};
    </delete>
    <select id="pages" resultType="edu.xmut.examsys.bean.ExamInfo">
        select *
        from exam_info
        where creator = #{creator} and is_deleted = 0
        order by `status`
    </select>
    <select id="selectByIds" resultType="edu.xmut.examsys.bean.ExamInfo">
        select * from exam_info
        <where>
            <if test="examIds !=null">
                exam_id
                <foreach collection="examIds" item="id" open=" in (" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="search !=null">
                and (title like concat('%',#{search},'%'))
            </if>
            and is_deleted = 0
        </where>

    </select>
    <select id="selectById" resultType="edu.xmut.examsys.bean.ExamInfo">
        select *
        from exam_info
        where exam_id = #{id}
          and is_deleted = 0
    </select>
    <select id="selectAll" resultType="edu.xmut.examsys.bean.ExamInfo">
        select exam_id,status,start_time,end_time,title from exam_info
        where is_deleted = 0
    </select>
</mapper>
