<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmut.examsys.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="edu.xmut.examsys.bean.Score">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="examId" column="exam_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="resultScore" column="resultScore" jdbcType="INTEGER"/>
            <result property="submitData" column="submit_data" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="insert">
        insert into score(exam_id, user_id, resultScore, submit_data)
        values (#{examId}, #{userId}, #{resultScore}, #{submitData});

    </insert>


    <select id="selectByUserIdAndTitle" resultType="edu.xmut.examsys.bean.vo.StudentScoreVO">
        SELECT e.title as title,
               e.exam_id as examId,
               s.user_id as userId,
               s.resultScore
        FROM score s
                 LEFT JOIN exam_info e ON s.exam_id = e.exam_id
        WHERE s.user_id = #{userId}
         <if test="title !=null and title !=''">
             AND e.title LIKE CONCAT('%', #{title}, '%')
         </if>
    </select>
    <select id="statisticalScoreInterval" resultType="edu.xmut.examsys.bean.Score">
        select max(resultScore) as resultScore
        from score
        where exam_id = #{examId}
        group by user_id

    </select>
    <select id="selectByUserId" resultType="edu.xmut.examsys.bean.Score">
        select *
        from score
        where user_id = #{userId}
        order by submit_data desc
    </select>
    <select id="selectByUserIdAndExamId" resultType="edu.xmut.examsys.bean.Score">
        select *
        from score
        where user_id = #{userId}
          and exam_id = #{examId}
    </select>
</mapper>
