<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xmut.examsys.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="edu.xmut.examsys.bean.Student">
        <id property="sno" column="sno" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="clazzId" column="clazz_id" jdbcType="VARCHAR"/>
        <result property="birth" column="birth" jdbcType="TIMESTAMP"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        sno,username,sex,
        real_name,email,clazz_id,
        birth,
        desc, password,
            id_card,phone, status,
            avatar,create_time,update_time,
            is_deleted
    </sql>
    <insert id="insertStudent">
        insert into student(sno, username, sex, real_name, email, clazz_id, birth, `desc`, password, id_card, phone)
        values (#{sno}, #{username}, #{sex}, #{realName}, #{email}, #{clazzId}, #{birth}, #{desc}, #{password},
                #{idCard},
                #{phone})
    </insert>
    <select id="getBySno" resultType="edu.xmut.examsys.bean.Student">
        select *
        from student
        where sno = #{sno}
    </select>
    <select id="selectPage" resultType="edu.xmut.examsys.bean.Student">
        select sno,
               username,
               sex,
               real_name,
               email,
               clazz_id,
               birth,
               `desc`,
               password,
               id_card,
               phone,
               status,
               avatar,
               create_time,
               update_time,
               is_deleted
        from student
    </select>
</mapper>
